<div class="card">
  <div class="card-header">
    <strong>Tasks</strong>
    <a href="#/project/task?projectID={{project.id}}" *ngIf="showbutton">
      <button type="button" class="btn btn-primary" style="margin-left: 77%">
        View full
      </button>
    </a>
  </div>
  <div *ngIf="showbutton">
    <div class="card-body scroll" *ngIf="project">
      <div class="row">
        <div class="col-sm-6 col-md-6" *ngFor="let lists of project.lists;let i = index">
          <ng-container>
            <div class="card">
              <div class="card-header cardheadertext">
                {{lists.name}}
              </div>
              <div class="card-body cardbodytext" *ngIf="lists.tasks">
                <div class="card task-card" *ngFor="let task of lists.tasks" data-toggle="modal" style="cursor: pointer" data-toggle="modal"
                  id="task">
                  <a routerLink="/task/view/{{task.id}}" style="text-decoration: none; color: black">
                    <div class="card-body">
                      {{task.name}}
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!showbutton">
    <div class="card-body" *ngIf="project">
      <div class="row" style="margin-bottom: 1rem;">
        <div class="input-group col-12">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="search(searchField.value)">
              <i class="fa fa-search"></i> Search
            </button>
            <button class="btn btn-secondary" type="button" (click)="clear()">
              <i class="fa fa-times"></i>
            </button>
          </span>
          <input class="form-control" type="text" (change)="search(searchField.value)" #searchField>
        </div>
      </div>
      <!-- -->
      <div class="well mb-4" *ngIf="foundTasks">
        <ul class="list-group" *ngFor="let task of foundTasks;let i=index">
          <li class="list-group-item">
            <a href="#/task?id={{task.id}}" style="font-size: 17px">
              {{task.name}}
            </a>
          </li>
        </ul>
      </div>
      <!-- -->
      <div class="row task-row">
        <div>
          <ng-container *ngFor="let lists of project.lists;let i = index">
            <div class="card cardstyle" style="margin-left: 15px;">
              <div class="card-header cardheadertext">
                {{lists.name}}
              </div>
              <div class="card-body cardbodytext" *ngIf="lists.tasks">
                <div class="card task-card" *ngFor="let task of lists.tasks" data-toggle="modal" style="cursor: pointer" data-toggle="modal"
                  id="task">
                  <a routerLink="/task/view/{{task.id}}" style="text-decoration: none; color: black">
                    <div class="card-body">
                      {{task.name}}
                    </div>
                  </a>
                </div>
              </div>
              <div class="card-footer">
                <a href="#/project/addtask?projectID={{project.id}}&listID={{lists.id}}">
                  <div style="text-align: center; font-size: 22px;">
                    <b>Add Task</b>
                  </div>
                </a>
              </div>
            </div>
          </ng-container>
          <ng-container>
            <div style="margin-left: 15px;">
                <button type="button" class="btn btn-primary" style="width: 300px">
                    <b>Add List</b>>
                  </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>