@import '../../../scss/bootstrap-variables';
.scroll {
  height: 600px;
  overflow-y: scroll;
}

.cardbodytext {
  font-size: 17px;
}

.cardheadertext {
  font-size: 20px;
}

.blackwhitebutton {
  color: black;
  background-color: white;
  border-color: black;
}

.cardstyle {
  width: 300px;
}

.task-row {
  overflow-x: scroll;
  width: 100%;
  > div {
    width: 9999px;
    display: flex;
  }
}
.left-section {
  padding-left: 0;
  padding-right: 0;
}
.right-section {
  border-left: 1px solid $gray-200;
}

i {
  width: 10px;
  height: 15px;
}