<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>New project</strong>
      </div>
      <app-spinner *ngIf="isLoadingPage"></app-spinner>
      <div class="card-body" *ngIf="!isLoadingPage">
        <div class="card-body">
          <div [formGroup]="projectForm" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-1.2 col-form-label" for="name-input">Project Name
                <span style="color: #ee0d0d">
                  <strong>*</strong>
                </span>
              </label>
              <div class="col-md-6">
                <input type="text" id="name-input" name="name-input" class="form-control" formControlName="name" placeholder="Please enter the project's name">
                <div class="invalid-feedback" *ngIf="errors.name">{{errors.name}}</div>
              </div>
            </div>
          
            <div class="form-group row">
              <label class="col-form-label" for="description-input">Description</label>
              <div class="col-md-6">
                <textarea id="description-input" name="description-input" rows="5" class="form-control" formControlName="description" placeholder="About project..."
                  style="margin-left: 23px;"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label" for="startDate-input">Start Date
                <span style="color: #ee0d0d">
                  <strong>*</strong>
                </span>
              </label>
              <div class="col-md-6" style="margin-left: 21px;">
                <my-date-picker #startDatePicker name="startDate-input" [options]="myDatePickerOptions" class="form-control-mydatepicker"
                  formControlName="startDate"></my-date-picker>
                  <div class="invalid-feedback" *ngIf="errors.startDate">{{errors.startDate}}</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label">Deadline
                <span style="color: #ee0d0d">
                  <strong>*</strong>
                </span>
              </label>
              <div class="col-md-6" style="margin-left: 27px;">
                <my-date-picker #deadlinePicker name="deadline-input" [options]="myDatePickerOptions" class="form-control-mydatepicker" formControlName="deadline"
                  disable="true"></my-date-picker>
                  <div class="invalid-feedback" *ngIf="errors.deadline">{{errors.deadline}}</div>
              </div>
            </div>
            <div class="row">
              <div style="margin-left: 200px;">
                <button class="btn btn-primary" (click)="handleCreate()" [ladda]="isLoading" style="font-size: 20px; width: 100px">
                  Add
                </button>
                <!-- <button type="button" class="btn btn-success btn-bw " data-toggle="modal" (click)="successModal.show()">Add</button> -->
              </div>
              <div style="margin-left: 100px;">
                <button class="btn btn-secondary" style="font-size: 20px; width: 100px" data-toggle="modal" onclick="location.href='#/project'">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>