<div style="align-content: left">
  <div class="card align-items-left">
    <div class="card-header">
      <strong>Team's detail</strong>
    </div>
    <div class="card-body">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="col-12 text-center" *ngIf="foundTeam" style=" text-transform: uppercase">
          <h1>
            {{foundTeam.name}}
          </h1>
        </div>
        <div class=" row">

          <!-- thu -->
          <!-- <div *ngFor="let user of value">

            <div>{{user.name}}</div>

            <img src="{{user.avatar}}" class="avatar avatar-lg">
          </div> -->


          <div class="col-4 text-center card" >
            <strong><h3> <a href="#/account/detail?id={{foundTeam.manager.id}}">{{foundTeam.manager.username}}</a> </h3></strong>

            <p id="role">Manager
              <span  *ngIf="foundTeam.manager.isActive" class="badge badge-success" style="font-size: 20px;">Active</span>
              <span  *ngIf="!foundTeam.manager.isActive" class="badge badge-success" style="font-size: 20px;">Banned</span>
            </p>
            <!-- <a href="#/account/detail?id={{foundTeam.manager.id}}" id="viewInfo">
              <button type="button" class="btn btn-primary" style="color: black;
              background-color: white;
              border-color: black;" id="viewprofilebutton">
                View profile
              </button>
            </a> -->
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
