div.a {
    text-transform: uppercase;
}
#description{
    width: 1000px;  
    font-size: 20px;
}
#createdperson{
    margin-left: 50px;
}
#AvaAndDe {
    padding-left: 13px;

}
#left {
    font-size: 30px;
    width: 20%;
    padding-left: 4px;
    margin-right: 5px;
}
#center {
    padding: 1em;
    width: 40%;
    font-size: 30px;
}

#avatar {
    width: 150px;
    height: 200px;
    margin-right: 5px;
}

#summary {
    color: rgba(18, 38, 221, 0.89);
    border-bottom: 2px solid;
}

#TechnicalSkills {
    color: rgba(18, 38, 221, 0.89);
    border-bottom: 2px solid;
}
#role{
    color: grey;
    font-size: 23px;
    margin-left: 70px;
}
#phone{
    font-size: 25px;
}
#email{
    color:blue;
    font-size:  25px;
}
#name{
    margin-left: 70px;
    font-size: 45px;
}
#createdBy{
    margin-left: 50px;
    font-size: 30px;
}
#viewInfo{
    margin-left: 70px;
}
#viewprofilebutton{
    font-size: 25px;
}