<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>Update team</strong>
      </div>
      <app-spinner *ngIf="isPageLoading"></app-spinner>
      <div *ngIf="!isPageLoading" class="card-body">
        <div class="col-12 text-center">
          <h2>{{foundTeam.name}}</h2>
        </div>
        <div class="col-12">
          <table class="table">
            <thead>
            <tr>
              <th class="text-left">Free member</th>
              <th></th>
              <th class="text-right">{{foundTeam.name}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td colspan="3">
                <div class="row" style="margin-top: 1em">
                  <div class="col-5">
                    <table datatable [dtOptions]="smallAccountTableOpt" class="table">
                      <thead>
                      <tr>
                        <th>Avatar</th>
                        <th>User name</th>
                        <th>Name</th>
                        <th>Birthdate</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let user of freeUsers">
                        <td class=text-center>
                          <img *ngIf="user.avatar" src="{{user.avatar}}" class="avatar avatar-sm">
                          <img *ngIf="!user.avatar" src="https://www.placehold.it/100x100?text=avatar" class="avatar">
                        </td>
                        <td>
                          {{user.username}}
                        </td>
                        <td>
                          <span *ngIf="user.name">{{user.name}}</span>
                          <span *ngIf="!user.name">N/A</span>
                        </td>
                        <td>
                          <span *ngIf="user.birthdate">{{user.birthdate}}</span>
                          <span *ngIf="!user.birthdate">N/A</span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-2">
                    <button class="btn btn-primary btn-block">
                      <i class="fa fa-angle-double-left"></i>
                    </button>
                    <button class="btn btn-primary btn-block">
                      <i class="fa fa-angle-double-right"></i>
                    </button>
                  </div>
                  <div class="col-5">
                    <table datatable [dtOptions]="smallAccountTableOpt" class="table">
                      <thead>
                      <tr>
                        <th>Avatar</th>
                        <th>User name</th>
                        <th>Name</th>
                        <th>Birthdate</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let user of freeUsers">
                        <td class=text-center>
                          <img *ngIf="user.avatar" src="{{user.avatar}}" class="avatar avatar-sm">
                          <img *ngIf="!user.avatar" src="https://www.placehold.it/100x100?text=avatar" class="avatar">
                        </td>
                        <td>
                          {{user.username}}
                        </td>
                        <td>
                          <span *ngIf="user.name">{{user.name}}</span>
                          <span *ngIf="!user.name">N/A</span>
                        </td>
                        <td>
                          <span *ngIf="user.birthdate">{{user.birthdate}}</span>
                          <span *ngIf="!user.birthdate">N/A</span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
