<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>Update team</strong>
      </div>
      <app-spinner *ngIf="isPageLoading"></app-spinner>
      <div *ngIf="!isPageLoading" class="card-body">
        <div class="col-12 text-center">
          <h2>{{foundTeam.name}}</h2>
        </div>
        <div class="col-12">
          <table class="table">
            <thead>
            <tr>
              <th class="text-left">Free member</th>
              <th></th>
              <th class="text-right">{{foundTeam.name}}</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="3">
                  <div class="row" style="margin-top: 1em">
                    <div class="col-5">
                      <table datatable [dtOptions]="smallAccountTableOpt" class="table">
                        <thead>
                        <tr>
                          <th>Username</th>
                          <th>Date registered</th>
                          <th>Role</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>Samppa Nori</td>
                          <td>2012/01/01</td>
                          <td>Member</td>
                          <td>
                            <span class="badge badge-success">Active</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Estavan Lykos</td>
                          <td>2012/02/01</td>
                          <td>Staff</td>
                          <td>
                            <span class="badge badge-danger">Banned</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Chetan Mohamed</td>
                          <td>2012/02/01</td>
                          <td>Admin</td>
                          <td>
                            <span class="badge badge-secondary">Inactive</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Derick Maximinus</td>
                          <td>2012/03/01</td>
                          <td>Member</td>
                          <td>
                            <span class="badge badge-warning">Pending</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Friderik Dávid</td>
                          <td>2012/01/21</td>
                          <td>Staff</td>
                          <td>
                            <span class="badge badge-success">Active</span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-primary btn-block">
                        <i class="fa fa-angle-double-left"></i>
                      </button>
                      <button class="btn btn-primary btn-block">
                        <i class="fa fa-angle-double-right"></i>
                      </button>
                    </div>
                    <div class="col-5">
                      <table datatable [dtOptions]="smallAccountTableOpt" class="table">
                        <thead>
                        <tr>
                          <th>Username</th>
                          <th>Date registered</th>
                          <th>Role</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>Samppa Nori</td>
                          <td>2012/01/01</td>
                          <td>Member</td>
                          <td>
                            <span class="badge badge-success">Active</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Estavan Lykos</td>
                          <td>2012/02/01</td>
                          <td>Staff</td>
                          <td>
                            <span class="badge badge-danger">Banned</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Chetan Mohamed</td>
                          <td>2012/02/01</td>
                          <td>Admin</td>
                          <td>
                            <span class="badge badge-secondary">Inactive</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Derick Maximinus</td>
                          <td>2012/03/01</td>
                          <td>Member</td>
                          <td>
                            <span class="badge badge-warning">Pending</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Friderik Dávid</td>
                          <td>2012/01/21</td>
                          <td>Staff</td>
                          <td>
                            <span class="badge badge-success">Active</span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
