<title>Project Management</title>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Projects Detail</strong>
            </div>
            <div class="card-body">
                <div class="card-body" style="font-size:20px">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group row" style="font-size: 30px">
                            Project Name:
                        </div>
                        <div class="form-group row">
                                Customer Name:
                            </div>
                        <div class="form-group row">
                            Description:<br/><br/>
                            <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" style="font-size:20px" disabled="true"></textarea>
                        </div>
                        <div class="form-group row">
                            <div>Created Time:</div>
                            <div class="col-md-9">
                                <input type="text" id="disabled-input" name="disabled-input" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div>Start Date:</div>
                            <div class="col-md-9">
                                <input type="text" id="disabled-input" name="disabled-input" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div>Deadline:</div>
                            <div class="col-md-9">
                                <input type="text" id="disabled-input" name="disabled-input" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div>Changed By:</div>
                            <div class="col-md-9">
                                <input type="text" id="disabled-input" name="disabled-input" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div>Changed Time:</div>
                            <div class="col-md-9">
                                <input type="text" id="disabled-input" name="disabled-input" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div>Lession Learnt:</div>
                            <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" style="font-size:20px" disabled="true"></textarea>
                        </div>
                        <div class="form-group row">
                            <div>Customer's Feedback:</div>
                            <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" style="font-size:20px" disabled="true"></textarea>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-lg" style="margin-left: 600px;">Update</button>
                        <button type="button" class="btn btn-outline-danger btn-lg" style="margin-left: 50px;">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>