<div class="card">
  <div class="card-header">
    <strong>Project detail</strong>
  </div>
  <app-spinner *ngIf="isPageLoading"></app-spinner>
  <div *ngIf="!isPageLoading" class="card-body">
    <div class="card-body" [formGroup]="viewForm" *ngIf="foundProject">
      <div class="row">
        <div class="col-6">
          <div class="form-horizontal">
            <div style="font-size: 20px">
              <h2 class="card-title">{{foundProject.name}}</h2>
            </div>
            <div class="button-row" style="margin-bottom: 5px;margin-top: 4px;" *ngIf="foundProject.status!= 2">
              <a routerLink="/project/{{foundProject.id}}/update" class="btn btn-secondary bg-light" *ngIf="currentUser.isAdmin">
                <i class="fa fa-edit"></i>&nbsp; Update
              </a>
              <a class="btn btn-secondary bg-light" (click)="handleCloseProject(foundProject.id)" *ngIf="currentUser.isAdmin">
                <i class="fa fa-close"></i>&nbsp; Close project
              </a>
              <a [ngClass]="{'btn': true, 'btn-secondary': true, 'bg-light':!isLoading.openAssignModal}" [ladda]="isLoading.openAssignModal"
                (click)="handleOnAssignBtnClick()" *ngIf="currentUser.isAdmin">
                <i class="fa fa-users"></i>&nbsp; Set department
              </a>
              <a [ngClass]="{'btn': true, 'btn-secondary': true, 'bg-light':!isLoading.openAssignMembersModal}" (click)="handleOnAssignMembersBtnClick()"
                [ladda]="isLoading.openAssignMembersModal" *ngIf="currentUser.isManager || currentUser.isAdmin">
                <i class="fa fa-user-plus"></i>&nbsp; Assign members
              </a>

              <a [ngClass]="{'btn': true, 'btn-secondary': true, 'bg-light':!isLoading.openUnAssignMembersModal}" (click)="handleOnUnAssignMembersBtnClick()"
                [ladda]="isLoading.openUnAssignMembersModal" *ngIf="currentUser.isManager || currentUser.isAdmin">
                <i class="fa fa-user-times"></i>&nbsp; Un-assign members
              </a>
            </div>
            <div class="section mt-4">
              <!--DESCRIPTION-->
              <h5 class="mb-3">Description</h5>
              <dl class="row ml-1">
                <p class="col-12">
                  {{foundProject.description}}
                </p>
              </dl>
            </div>
            <div class="section" *ngIf="foundProject.status==0">
              <!--Created Date-->
              <h5 class="mb-3">Status: Not started</h5>
            </div>
            <div class="section" *ngIf="foundProject.status==1">
              <!--Created Date-->
              <h5 class="mb-3">Status: Executing</h5>
            </div>
            <div class="section" *ngIf="foundProject.status==2">
              <!--Created Date-->
              <h5 class="mb-3">Status: Closed</h5>
            </div>
            <div class="section">
              <!--Created Date-->
              <h5 class="mb-3">Created date: {{foundProject.createdTime | date:'d/M/y'}}</h5>
            </div>
            <div class="section">
              <!--Start Date-->
              <h5 class="mb-3">Start date: {{foundProject.startDate | date:'d/M/y'}}</h5>
            </div>
            <div class="section">
              <!--Deadline-->
              <h5 class="mb-3">Deadline: {{foundProject.deadline | date:'d/M/y'}}</h5>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="section" style="font-size: 16px">
            <dt class="col-12">
              <a routerLink="/project/{{foundProject.id}}/task" class="btn btn-primary" style="font-size: 20px; width: 120px">
                All tasks
              </a>
            </dt>
            <dt class="col-12">Members:</dt>
            <dd class="col-12 pl-4">
              <app-user-list *ngIf="foundProject.assignees" [users]="foundProject.assignees" [sort]="true"></app-user-list>
              <span *ngIf="!foundProject.assignees || foundProject.assignees.length < 1">N/A</span>
            </dd>
            <br/>
            <dt class="col-12">Departments</dt>
            <dd class="col-12 pl-4" *ngIf="foundProject.teams">
              <span *ngFor="let team of foundProject.teams">
                <a href="#/department/{{team.id}}/detail">{{team.name}}</a>
                <br/>
              </span>
            </dd>
          </div>
        </div>
      </div>
      <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-danger" role="document">
          <div class="modal-content" style="border-color: black;">
            <div class="modal-header" style="color: black;
                      background-color: white;">
              <h4 class="modal-title">Confirmation message!</h4>
              <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure to close this project?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()" style="color: black;
                          background-color: white;
                          border-color: black;">No
              </button>
              <button type="button" class="btn btn-danger" (click)="handleClose(foundProject.id)" style="color: black;
                          background-color: white;
                          border-color: black;">Yes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>