<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>Update task</strong>
      </div>
      <app-spinner *ngIf="isLoading.page"></app-spinner>
      <div *ngIf="!isLoading.page" class="card-body row">
        <div [formGroup]="updateForm" class="form-horizontal col-lg-8 col-md-10 col-sm-12">
          <div class="form-group row">
            <!--NAME-->
            <label class="col-4 col-form-label text-right" for="name-input">
              Name <span style="color: red"><strong>*</strong></span>
            </label>
            <div class="col-8">
              <input type="text" id="name-input"
                     [ngClass]="{'form-control': true, 'is-invalid': errors.name}"
                     formControlName="name">
              <div class="invalid-feedback" *ngIf="errors.name">{{errors.name}}</div>
            </div>
          </div>
          <div class="form-group row">
            <!--Description-->
            <label class="col-4 col-form-label text-right" for="description-input">
              Description
            </label>
            <div class="col-8">
              <textarea id="description-input"
                        rows="9"
                        [ngClass]="{'form-control': true, 'is-invalid': errors.description}"
                        placeholder="Description.."
                        formControlName="description"></textarea>
              <div class="invalid-feedback" *ngIf="errors.description">{{errors.description}}</div>
            </div>
          </div>
          <div class="form-group row">
            <!--LIST-->
            <label class="col-4 col-form-label text-right" for="list-input">
              List <span style="color: red"><strong>*</strong></span>
            </label>
            <div class="col-8">
              <select formControlName="list" id="list-input"
                      [ngClass]="{'form-control': true, 'is-invalid': errors.list}">
                <option *ngFor="let list of lists" value="{{list.id}}">{{list.name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="errors.list">{{errors.list}}</div>
            </div>
          </div>
          <div class="form-group row">
            <!--priority-->
            <label class="col-4 col-form-label text-right" for="priority-input">
              Priority <span style="color: red"><strong>*</strong></span>
            </label>
            <div class="col-8">
              <select formControlName="priority" id="priority-input"
                      [ngClass]="{'form-control': true, 'is-invalid': errors.list}">
                <option *ngFor="let priority of priorities" value="{{priority.key}}">{{priority.value}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="errors.priority">{{errors.priority}}</div>
            </div>
          </div>
          <div class="form-group row">
            <!--Start date-->
            <label class="col-4 col-form-label text-right" for="startDate-input">
              Start date <span style="color: red"><strong>*</strong></span>
            </label>
            <div class="col-8 datepicker-group">
              <my-date-picker id="startDate-input" #datepicker
                              [options]="myDatePickerOptions"
                              formControlName="startDate"
                              [ngClass]="{'form-control': false, 'is-invalid': errors.startDate}"
                              required></my-date-picker>
              <div class="invalid-feedback" [ngStyle]="{'display':'block'}" *ngIf="errors.startDate">
                {{errors.startDate}}
              </div>
            </div>
          </div>
          <div class="form-group row">
            <!--DURATION-->
            <label class="col-4 col-form-label text-right" for="duration-input">
              Duration <span style="color: red"><strong>*</strong></span>
            </label>
            <div class="col-8">
              <div class="input-group">
                <input type="text" id="duration-input"
                       [ngClass]="{'form-control': true, 'is-invalid': errors.duration}"
                       formControlName="duration">
                <span class="input-group-addon">day</span>
              </div>

              <div class="invalid-feedback" *ngIf="errors.duration">{{errors.duration}}</div>
            </div>
          </div>
          <div class="form-group row">
            <!--EFFORT-->
            <label class="col-4 col-form-label text-right" for="effort-input">
              Effort <span style="color: red"><strong>*</strong></span>
            </label>
            <div class="col-8">
              <div class="input-group">
                <input type="text" id="effort-input"
                       [ngClass]="{'form-control': true, 'is-invalid': errors.effort}"
                       formControlName="effort">
                <span class="input-group-addon">hour</span>
              </div>
              <div class="invalid-feedback" *ngIf="errors.effort">{{errors.effort}}</div>
            </div>
          </div>
          <div class="form-actions text-center">
            <!--BUTTON-->
            <div class="col-12">
              <button class="btn btn-primary" (click)="handleUpdateTask()" [ladda]="isLoading.update">
                Save changes
              </button>
              <button class="btn btn-secondary" type="button" (click)="setDefaultValue()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
