<h1>
  <strong>Manage account</strong>
</h1>
<router-outlet>
  <!--output-->
</router-outlet>
<div class="row">
  <button type="button" class="btn btn-success">Create account</button>
</div>
<table *ngIf="users" class="table table-info animated fadeIn">
  <thead class="thead-light">
  <tr>
    <th>#</th>
    <th>Username</th>
    <th>Avatar</th>
    <th>isAdmin</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users;let i = index">
    <th scope="row">{{i+1}}</th>
    <td>{{user.username}}</td>
    <td>
      <img *ngIf="user.avatar"
           src="{{user.avatar}}"
           class="avatar avatar-lg">
      <img *ngIf="!user.avatar"
           src="https://www.placehold.it/100x100?text=avatar"
           class="avatar avatar-lg">
    </td>
    <td>
      <label class="switch switch-default switch-pill switch-primary-outline-alt">
        <input type="checkbox" class="switch-input" [attr.checked]="user.isAdmin ? '' : null">
        <span class="switch-label"></span>
        <span class="switch-handle"></span>
      </label>
    </td>
  </tr>
  </tbody>
</table>
