<h1>
  <strong>Manage account</strong>
</h1>
<table class="table table-info">
  <thead class="thead-light">
  <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Avatar</th>
    <th>isAdmin</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>MarkO</td>
    <td><img src="..." alt="..." class="img-thumbnail"></td>
    
    <td>
      <label class="switch switch-default switch-pill switch-primary-outline-alt">
        <input type="checkbox" class="switch-input" unchecked>
        <span class="switch-label"></span>
        <span class="switch-handle"></span>
      </label>
    </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>JacobT</td>
    <td><img src="..." alt="..." class="img-thumbnail"></td>
    <td>
      <label class="switch switch-default switch-pill switch-primary-outline-alt">
        <input type="checkbox" class="switch-input" unchecked>
        <span class="switch-label"></span>
        <span class="switch-handle"></span>
      </label>
    </td>
  
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry</td>
    <td>the Bird</td>
    <td>LarryTB</td>
    <td><img src="..." alt="..." class="img-thumbnail"></td>
   
    <td>
      <label class="switch switch-default switch-pill switch-primary-outline-alt">
        <input type="checkbox" class="switch-input" unchecked>
        <span class="switch-label"></span>
        <span class="switch-handle"></span>
      </label>
    </td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>kira</td>
    <td>the Killer</td>
    <td>kiraTK</td>
    <td><img src="..." alt="..." class="img-thumbnail"></td>

    <td>
      <label class="switch switch-default switch-pill switch-primary-outline-alt">
        <input type="checkbox" class="switch-input" unchecked>
        <span class="switch-label"></span>
        <span class="switch-handle"></span>
      </label>
    </td>
  </tr>
  </tbody>
</table>
