<ul class="icons-list">
  <li *ngFor="let user of users">
    <i>
      <img *ngIf="user.avatar" src="{{user.avatar}}" class="avatar img-avatar">
      <img *ngIf="!user.avatar" src="/assets/img/100x100_avatar.png" class="avatar img-avatar">
    </i>
    <div class="desc">
      <div class="title">
        <a href="#/account/detail?id={{user.id}}">
          {{user.name}}
        </a>
      </div>
      <small>{{user.email}}</small>
    </div>
    <div class="value">
      <small>{{user.phone}}</small>
    </div>
    <div class="actions">
      <i *ngIf="user.phone" class="fa fa-phone text-muted"></i>
    </div>
  </li>
</ul>
