<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>
          <div>Summary</div>
        </strong>
      </div>
      <app-spinner *ngIf="isLoading.page"></app-spinner>
      <div class="card-body" *ngIf="!isLoading.page">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <app-staff-section [lateTasks]=l ateTasks [thisWeekTasks]="thisWeekTasks" *ngIf="role == 'staff'"></app-staff-section>
            <app-manager-section [lateTasks]="lateTasks" [needReviewTasks]="needReviewTasks" *ngIf="role == 'manager'">

            </app-manager-section>
            <app-admin-section *ngIf="role == 'admin'"></app-admin-section>
          </div>
          <div class="col-lg-5 col-md-10">
            <div class="card p-0">
              <div class="card-body">
                <h4 class="card-title col-12">Leader board</h4>
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">Rank</th>
                      <th class="text-center">Name</th>
                      <tH class="text-center">Score</tH>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of leaderboard;let i = index">
                      <td class="text-center">{{i+1}}</td>
                      <td class="text-center">{{item.name}}</td>
                      <td class="text-center">{{item.score}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
