<div class="row">
  <div class="card col-12">
    <div class="card-body">
      <h4 class="card-title">Summary</h4>
      <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
          <div class="container-fluid row card">
            <div class="card-body">
              <h4 class="card-title col-12">Leader board</h4>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<button type="button" class="btn btn-secondary" data-toggle="modal" (click)="smallModal.show()">-->
<!--Add a new project-->
<!--</button>-->

