<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        Project 1
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        Project 2
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        Project 3
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
          Project 4
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-md-3">
      <div class="card">
        <div class="card-header">
            Project 5
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>

</div>


<div class="container">

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create a new project</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h1 class="modal-title">Create a new project</h1>
        </div>
        <div class="modal-body">
          <div>
            <h3>Name</h3>
            <input/>
          </div>
          <div>
            <h3>decription</h3>
            <input/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>