<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button"
            (click)="search(searchUsername.value)">
      <i class="fa fa-search"></i> Search
    </button>
  </span>
  <input class="form-control" placeholder="Name" type="text"
         #searchUsername>
</div>
<br/>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>No.</th>
    <th>Username</th>
    <th>Full Name</th>
    <th>Birthdate</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Avatar</th>
    <th>Admin</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of pagedUsers;let i = index">
    <th scope="row">{{i + (pager.currentPage-1)*pager.pageSize + 1}}</th>
    <td>
      <a href="#/account/update?username={{user.username}}">{{user.username}}</a>
    </td>
    <td>
      <p *ngIf="user.name">{{user.name}}</p>
      <p *ngIf="!user.name">N/A</p>
    </td>
    <td>
      <p *ngIf="user.birthDate">{{user.birthDate}}</p>
      <p *ngIf="!user.birthDate">N/A</p>
    </td>
    <td>
      <p *ngIf="user.email">{{user.email}}</p>
      <p *ngIf="!user.email">N/A</p>
    </td>
    <td>
      <p *ngIf="user.phone">{{user.phone}}</p>
      <p *ngIf="!user.phone">N/A</p>
    </td>
    <td>
      <img *ngIf="user.avatar" src="{{user.avatar}}" class="avatar avatar-lg">
      <img *ngIf="!user.avatar" src="https://www.placehold.it/100x100?text=avatar" class="avatar avatar-lg">
    </td>
    <td>
      <label class="switch switch-default switch-pill switch-primary-outline-alt">
        <input type="checkbox" disabled="true" class="switch-input" [attr.checked]="user.isAdmin ? '' : null">
        <span class="switch-label"></span>
        <span class="switch-handle"></span>
      </label>
    </td>
    <td>
      <span *ngIf="user.isActive" class="badge badge-success">Active</span>
      <span *ngIf="!user.isActive" class="badge badge-danger">Disable</span>
    </td>
  </tr>
  </tbody>
</table>

<!-- pager -->
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
  <li [ngClass]="[pager.currentPage === 1 ? 'disabled' : '', 'page-item']">
    <a class="page-link fake-link" (click)="setPage(1)">First</a>
  </li>
  <li [ngClass]="[pager.currentPage === 1 ? 'disabled' : '', 'page-item']">
    <a class="page-link fake-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
  </li>
  <li *ngFor="let page of pager.pages" [ngClass]="[pager.currentPage === page ? 'active' : '', 'page-item']">
    <a class="page-link fake-link" (click)="setPage(page)">{{page}}</a>
  </li>
  <li [ngClass]="[pager.currentPage === pager.totalPages ? 'disabled' : '', 'page-item']">
    <a class="page-link fake-link" (click)="setPage(pager.currentPage + 1)">Next</a>
  </li>
  <li [ngClass]="[pager.currentPage === pager.totalPages ? 'disabled' : '', 'page-item']">
    <a class="page-link fake-link" (click)="setPage(pager.totalPages)">Last</a>
  </li>
</ul>
