<table class="table table-bordered">
  <thead>
    <tr>
      <th>No.</th>
      <th>Username</th>
      <th>Full Name</th>
      <th>Birthdate</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Avatar</th>
      <th>Admin</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users;let i = index">
      <th scope="row">{{i+1}}</th>
      <td>
        <a href="/account/update">{{user.username}}</a>
      </td>
      <td>
        <p *ngIf="user.name">{{user.name}}</p>
        <p *ngIf="!user.name">N/A</p>
      </td>
      <td>
        <p *ngIf="user.birthDate">{{user.birthDate}}</p>
        <p *ngIf="!user.birthDate">N/A</p>
      </td>
      <td>
        <p *ngIf="user.email">{{user.email}}</p>
        <p *ngIf="!user.email">N/A</p>
      </td>
      <td>
        <p *ngIf="user.phone">{{user.phone}}</p>
        <p *ngIf="!user.phone">N/A</p>
      </td>
      <td>
        <img *ngIf="user.avatar" src="{{user.avatar}}" class="avatar avatar-lg">
        <img *ngIf="!user.avatar" src="https://www.placehold.it/100x100?text=avatar" class="avatar avatar-lg">
      </td>
      <td>
        <label class="switch switch-default switch-pill switch-primary-outline-alt">
          <input type="checkbox" disabled="true" class="switch-input" [attr.checked]="user.isAdmin ? '' : null">
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
      </td>
      <td>
        <span *ngIf="user.isActive" class="badge badge-success">Active</span>
        <span *ngIf="!user.isActive" class="badge badge-danger">Disable</span>
      </td>
    </tr>

    <!-- <tr>
      <td>Pompeius René</td>
      <td>2012/01/01</td>
      <td>Member</td>
      <td>
        <span class="badge badge-success">Active</span>
      </td>
    </tr>
    <tr>
      <td>Paĉjo Jadon</td>
      <td>2012/02/01</td>
      <td>Staff</td>
      <td>
        <span class="badge badge-danger">Banned</span>
      </td>
    </tr>
    <tr>
      <td>Micheal Mercurius</td>
      <td>2012/02/01</td>
      <td>Admin</td>
      <td>
        <span class="badge badge-secondary">Inactive</span>
      </td>
    </tr>
    <tr>
      <td>Ganesha Dubhghall</td>
      <td>2012/03/01</td>
      <td>Member</td>
      <td>
        <span class="badge badge-warning">Pending</span>
      </td>
    </tr>
    <tr>
      <td>Hiroto Šimun</td>
      <td>2012/01/21</td>
      <td>Staff</td>
      <td>
        <span class="badge badge-success">Active</span>
      </td>
    </tr> -->
  </tbody>
</table>