<div id="comment" class="p-2 row" (click)="containerClick()">
  <div class="col-1 left-section text-center">
    <i class="fa fa-angle-down" *ngIf="!isCollapsed"></i>
    <i class="fa fa-angle-right" *ngIf="isCollapsed"></i>
  </div>
  <div class="col-11 right-section">
    <img class="avatar img-avatar" src="{{comment.createdBy.avatar}}"/>
    <a href="#/account/detail?id={{comment.createdBy.id}}">
      {{comment.createdBy.name}}
    </a>
    <div class="mt-3" *ngIf="!isCollapsed">
      <p>{{comment.body}}</p>
    </div>
  </div>
</div>
