<div id="comment" class="p-2 row" (click)="containerClick()">
  <div class="col-1 left-section text-center">
    <i class="fa fa-angle-down" *ngIf="!isCollapsed"></i>
    <i class="fa fa-angle-right" *ngIf="isCollapsed"></i>
  </div>
  <div class="col-11 right-section">
    <div class="row">
      <div class="col-11">
        <img class="avatar img-avatar" src="{{comment.createdBy.avatar}}"/>
        <a href="#/account/{{comment.createdBy.id}}/detail">
          {{comment.createdBy.name}}
        </a>
      </div>
      <div class="col-1 btn-edit"
           *ngIf="editable"
           (click)="handleEditBtnClick($event)">
        <i class="fa fa-pencil-square-o"></i>
      </div>
      <div class="col-12 mt-3" *ngIf="!isCollapsed">
        <p>{{comment.body}}</p>
      </div>
    </div>
  </div>
</div>
