<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="handleOnClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row">
    <div class="col-12">
      <!--COMMENT TEXT AREA-->
      <textarea title="comment-input" rows="9" class="form-control"
                [(ngModel)]="commentBoxModel"
                placeholder="Content.."></textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" (click)="handleOnConfirm()">{{confirmButtonText}}</button>
  <button class="btn btn-secondary" (click)="handleOnCancel()">Cancel</button>
</div>
