<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>Update project</strong>
      </div>
      <app-spinner *ngIf="isLoading"></app-spinner>
      <div *ngIf="!isLoading" class="card-body">
        <div class="form-horizontal col-6" [formGroup]="updateForm" id="update">
          <div class="form-group row">
            <label class="col-md-1.2 col-form-label" for="name-input">Project Name
              <span style="color: #ee0d0d">
                <strong>*</strong>
              </span>
            </label>
            <div class="col-md-6">
              <input type="text" id="name-input" name="name-input" class="form-control" formControlName="name" placeholder="Please enter the project's name" style="width: 700px" value="{{foundProject.name}}">
              <div class="invalid-feedback" *ngIf="errors.name">{{errors.name}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label" for="description-input">Description</label>
            <div class="col-md-6">
              <textarea id="description-input" name="description-input" rows="5" class="form-control" formControlName="description" placeholder="About project..."
                style="margin-left: 23px;" value="{{foundProject.description}}"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label">Deadline
              <span style="color: #ee0d0d">
                <strong>*</strong>
              </span>
            </label>
            <div class="col-md-6" style="margin-left: 1px;">
              <my-date-picker #deadlinePicker name="deadline-input" [options]="myDatePickerOptions" class="form-control-mydatepicker" formControlName="deadline"
                disable="true" style="margin-left: 28px;"></my-date-picker>
              <div class="invalid-feedback" *ngIf="errors.deadline">{{errors.deadline}}</div>
            </div>
          </div>
          <div class="form-actions text-center">
            <div class="col-12">
              <button type="button" class="btn btn-primary btn-lg" style="color: black;
                                background-color: white;
                                border-color: black;margin-left: 40px;">Save changes
              </button>
              <button type="button" class="btn btn-secondary btn-lg" style="color: black;
                background-color: white;
                border-color: black; margin-left: 70px;">Reset
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>