<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <strong>Project Information</strong>
            </div>
            <div class="card-body">
                <div class="form-horizontal col-6" style="margin-top: 30px;" id="update">
                    <div class="form-group row">
                        <label class="col-4 col-form-label text-right" for="name-input">Project Name:</label>
                        <div class="col-8">
                            <input type="text" id="name-input" name="name-input" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label text-right" for="name-input">Project Description:</label>
                        <div class="col-8">
                            <textarea rows="3">

                        </textarea>
                        </div>
                    </div>

                    <div class="form-actions text-center">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary btn-lg" style="color: black;
                                background-color: white;
                                border-color: black;margin-left: 40px;">Save changes
                            </button>
                            <button type="button" class="btn btn-secondary btn-lg" style="color: black;
                background-color: white;
                border-color: black; margin-left: 70px;">Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>