<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>Update account</strong>
      </div>
      <!-- <app-spinner *ngIf="isPageLoading"></app-spinner> -->
      <div class="card-body animated fadeIn" >
        <div [formGroup]="updateForm" class="form-horizontal col-6">
          <!--Fullname -->
          <div class="form-group row">
            <label class="col-4 col-form-label text-right" for="fullname-input">Fullname
              <span style="color: #ee0d0d">
                <strong>*</strong>
              </span>
            </label>
            <div class="col-8">
              <input type="text" id="fullname-input" name="fullname-input" [ngClass]="{'form-control': true, 'is-invalid': errors.fullname}"
                formControlName="fullname">
              <div class="invalid-feedback" *ngIf="errors.fullname">{{fullname.email}}</div>
            </div>
          </div>
          <!--Birthdate -->
          <div class="form-group row">
              <label class="col-4 col-form-label text-right" for="birthdate-input">Birthdate
                <span style="color: #ee0d0d">
                  <strong>*</strong>
                </span>
              </label>
              <div class="col-8 datepicker-group">
                  <my-date-picker #datepicker [options]="myDatePickerOptions" formControlName="birthdate" [ngClass]="{'form-control': false, 'is-invalid': errors.birthdate}"
                    required></my-date-picker>
                  <div class="invalid-feedback" *ngIf="errors.birthdate">{{errors.birthdate}}</div>
                </div>
            </div>
          <!--Email -->
          <div class="form-group row" *ngIf="foundUser.isAdmin">
            <label class="col-4 col-form-label text-right" for="email-input">Email
              <span style="color: #ee0d0d">
                <strong>*</strong>
              </span>
            </label>
            <div class="col-8">
              <input type="text" id="email-input" name="email-input" [ngClass]="{'form-control': true, 'is-invalid': errors.email}" formControlName="email">
              <div class="invalid-feedback" *ngIf="errors.email">{{errors.email}}</div>
            </div>
          </div>

          <div class="form-group row" *ngIf="!foundUser.isAdmin">
              <label class="col-4 col-form-label text-right" for="email-input">Email
              </label>
              <div class="col-8">
                <input disabled="true" type="text" id="email-input" name="email-input" [ngClass]="{'form-control': true, 'is-invalid': errors.email}" formControlName="email">
                <div class="invalid-feedback" *ngIf="errors.email">{{errors.email}}</div>
              </div>
            </div>
          <!-- Phone -->
          <div class="form-group row" *ngIf="foundUser.isAdmin">
            <label class="col-4 col-form-label text-right" for="phone-input">Phone
              <span style="color: #ee0d0d">
                <strong>*</strong>
              </span>
            </label>
            <div class="col-8">
              <input type="text" id="phone-input" name="phone-input" class="form-control" [ngClass]="{'form-control': true, 'is-invalid': errors.phone}"
                formControlName="phone">
              <div class="invalid-feedback" *ngIf="errors.phone">{{errors.phone}}</div>
            </div>
          </div>

          <div class="form-group row" *ngIf="!foundUser.isAdmin">
              <label class="col-4 col-form-label text-right" for="phone-input">Phone
              </label>
              <div class="col-8">
                <input disabled="true" type="text" id="phone-input" name="phone-input" class="form-control" [ngClass]="{'form-control': true, 'is-invalid': errors.phone}"
                  formControlName="phone">
                <div class="invalid-feedback" *ngIf="errors.phone">{{errors.phone}}</div>
              </div>
            </div>
          <!-- Department -->
          <div class="form-group row" *ngIf="teams && foundUser.isAdmin">
            <label class="col-4 col-form-label text-right">Department</label>
            <div class="col-8">
              <select formControlName="team" [ngClass]="{'form-control': true, 'is-invalid': errors.team}">
                <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="errors.team">{{errors.team}}</div>
            </div>
          </div>
          <!-- Status -->
          <div class="form-group row" *ngIf="foundUser.isAdmin">
            <label class="col-4 col-form-label text-right">Active</label>
            <div class="col-8">
              <label class="switch switch-3d switch-primary">
                <input type="checkbox" class="switch-input" formControlName="isActive">
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
              </label>
              <div class="invalid-feedback" *ngIf="errors.isActive">{{errors.isActive}}</div>
            </div>
          </div>
          <!-- Password -->
          <div class="form-group row" *ngIf="foundUser.isAdmin">
            <label class="col-4 col-form-label text-right">Password </label>
            <div class="col-8">
              <button type="button" class="btn btn-secondary" (click)="openConfirmResetPassword()" [ladda]="isResetPasswordLoading">
                Reset Password</button>
              <div *ngIf="newpassword" class="alert alert-success" role="alert">
                New password: {{newpassword}}
              </div>
            </div>
          </div>
          <div class="form-actions text-center" *ngIf="foundUser.isAdmin">
            <div class="col-12">
              <button class="btn btn-primary" (click)="handleUpdate()" [ladda]="isSavingChange">
                Save changes
              </button>
              <button class="btn btn-secondary" type="button" (click)="setDefaultValue(foundUser)">Reset</button>
            </div>
          </div>
          <div class="form-actions text-center" *ngIf="!foundUser.isAdmin">
              <div class="col-12">
                <button class="btn btn-primary" (click)="handleUpdate()" [ladda]="isSavingChange">
                  Save changes
                </button>
                <button class="btn btn-secondary" type="button" (click)="setDefaultValue(foundUser)">Reset</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>