<h1>
  <strong>Manage team</strong>
</h1>
<table class="table table-info">
  <thead class="thead-light">
    <tr>
      <th>#</th>

      <th>Name</th>
      <th>Team leader</th>
      <th>createdBy</th>
      <th>createdDate</th>
      <th>isClose</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>team 1</td>
      <td>Otto</td>
      <td>MarkO</td>
      <td>22/12/2001</td>
      <td>
        <label class="switch switch-default switch-pill switch-primary-outline-alt">
          <input type="checkbox" class="switch-input" unchecked>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Team 2</td>
      <td>Thornton</td>
      <td>JacobT</td>
      <td>15/10/2012</td>
      <td>
        <label class="switch switch-default switch-pill switch-primary-outline-alt">
          <input type="checkbox" class="switch-input" unchecked>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Team 3</td>
      <td>the Bird</td>
      <td>LarryTB</td>
      <td>20/5/1998</td>
      <td>
        <label class="switch switch-default switch-pill switch-primary-outline-alt">
          <input type="checkbox" class="switch-input" unchecked>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Team 4</td>
      <td>the Killer</td>
      <td>kiraTK</td>
      <td>15/1/2013</td>
      <td>
        <label class="switch switch-default switch-pill switch-primary-outline-alt">
          <input type="checkbox" class="switch-input" unchecked>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
      </td>
    </tr>
  </tbody>
</table>