<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>Config</strong>

      </div>

      <div class="card-body">
        <!-- chinh lai-->

        <div class="form-group row">
          <!--Low Priority-->
          <label class="col-3 col-form-label text-right" for="name-input">
            Low Priority

          </label>
          <div class="col-8">
            <div class="input-group">
              <input formControlName="name">
              <span class="input-group-addon">Point(s)</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <!--Medium Priority-->
          <label class="col-3 col-form-label text-right" for="name-input">
            Medium Priority

          </label>
          <div class="col-8">
            <div class="input-group">
              <input formControlName="name">
              <span class="input-group-addon">Point(s)</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <!--Hight Priority-->
          <label class="col-3 col-form-label text-right" for="name-input">
            Hight Priority

          </label>
          <div class="col-8">
            <div class="input-group">
              <input formControlName="name">
              <span class="input-group-addon">Point(s)</span>
            </div>
          </div>
        </div>



        <div class="form-group row">
          <!--Duration max-->
          <label class="col-3 col-form-label text-right" for="name-input">
            Duration max

          </label>
          <div class="col-8">
            <div class="input-group">
              <input formControlName="name">
              <span class="input-group-addon">Day(s)</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <!--Penalty-->
          <label class="col-3 col-form-label text-right" for="name-input">
            Penalty

          </label>
          <div class="col-8">
            <div class="input-group">
              <input formControlName="name">
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <!--Min age-->
          <label class="col-3 col-form-label text-right" for="name-input">
            Min age

          </label>
          <div class="col-8">
            <div class="input-group">
              <input formControlName="name">
              <span class="input-group-addon">Year(s) old</span>
            </div>
          </div>
        </div>

        <!--BUTTONS-->
        <div class="col-4 col-form-label text-right" >
          <button class="btn btn-primary" (click)="handleCreateTask()" >
            Sumit
          </button>

        </div>


      </div>
    </div>
  </div>
</div>
