@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

    <div class="col-12">
        <table id="myTable" border="1" style="border-collapse:collapse; width:100%">
            <thead>
                <tr><th>ID</th><th>Name</th><th>Phone</th><th>Birthdate</th><th>Email</th><th>Username</th><th>Password</th><th>Avatar</th><th>IsAdmin</th><th>IsActive</th><th>IsManager</th><th>TeamID</th></tr>
            </thead>
            <tbody>
                <tr><td>101</td><td>Admin</td><td>0914162689</td><td>1979-05-02</td><td>admin@cma.com</td><td>admin</td><td>123456</td><td>avt1.png</td><td>1</td><td>1</td><td>0</td><td>NULL</td></tr>
                <tr><td>102</td><td>Creative Manager</td><td>01669788679</td><td>1985-01-15</td><td>creative_manager@cma.com</td><td>cmanager</td><td>123456</td><td>avt2.png</td><td>0</td><td>1</td><td>1</td><td>1</td></tr>
                <tr><td>103</td><td>Account Management Manager</td><td>0978178764</td><td>1988-02-04</td><td>account_manager@cma.com</td><td>amanager</td><td>123456</td><td>avt3.png</td><td>0</td><td>1</td><td>1</td><td>3</td></tr>
                <tr><td>104</td><td>Strategic Planning Manager</td><td>0979809204</td><td>1983-03-29</td><td>strategic_manager@cma.com</td><td>smanager</td><td>123456</td><td>avt4.png</td><td>0</td><td>1</td><td>1</td><td>5</td></tr>
                <tr><td>105</td><td>Production Manager</td><td>0905682529</td><td>1979-11-29</td><td>production_manager@cma.com</td><td>pmanager</td><td>123456</td><td>avt5.png</td><td>0</td><td>1</td><td>1</td><td>4</td></tr>
                <tr><td>106</td><td>Creative Staff 1</td><td>0982725726</td><td>1988-05-19</td><td>staffc1@cma.com</td><td>staffc1</td><td>123456</td><td>avt6.png</td><td>0</td><td>1</td><td>0</td><td>1</td></tr>
                <tr><td>107</td><td>Creative Staff 2</td><td>0937303282</td><td>1985-09-12</td><td>staffc2@cma.com</td><td>staffc2</td><td>123456</td><td>avt7.png</td><td>0</td><td>1</td><td>0</td><td>1</td></tr>
                <tr><td>108</td><td>Creative Staff 3</td><td>0974131489</td><td>1985-02-09</td><td>staffc3@cma.com</td><td>staffc3</td><td>123456</td><td>avt8.png</td><td>0</td><td>1</td><td>0</td><td>1</td></tr>
                <tr><td>109</td><td>Creative Staff 4</td><td>0984084034</td><td>1984-06-07</td><td>staffc4@cma.com</td><td>staffc4</td><td>123456</td><td>avt9.png</td><td>0</td><td>1</td><td>0</td><td>1</td></tr>
                <tr><td>110</td><td>Creative Staff 5</td><td>0977557349</td><td>1986-11-25</td><td>staffc5@cma.com</td><td>staffc5</td><td>123456</td><td>avt10.png</td><td>0</td><td>1</td><td>0</td><td>1</td></tr>
                <tr><td>111</td><td>Account Management Staff 1</td><td>01649616718</td><td>1986-05-23</td><td>staffa1@cma.com</td><td>staffa1</td><td>123456</td><td>avt11.png</td><td>0</td><td>1</td><td>0</td><td>3</td></tr>
                <tr><td>112</td><td>Account Management Staff 2</td><td>0914162689</td><td>1982-10-22</td><td>staffa2@cma.com</td><td>staffa2</td><td>123456</td><td>avt12.png</td><td>0</td><td>1</td><td>0</td><td>3</td></tr>
                <tr><td>113</td><td>Account Management Staff 3</td><td>01272389777</td><td>1984-02-19</td><td>staffa3@cma.com</td><td>staffa3</td><td>123456</td><td>avt13.png</td><td>0</td><td>1</td><td>0</td><td>3</td></tr>
                <tr><td>114</td><td>Account Management Staff 4</td><td>0986958908</td><td>1987-07-08</td><td>staffa4@cma.com</td><td>staffa4</td><td>123456</td><td>avt14.png</td><td>0</td><td>1</td><td>0</td><td>3</td></tr>
                <tr><td>115</td><td>Account Management Staff 5</td><td>01648129157</td><td>1987-09-17</td><td>staffa5@cma.com</td><td>staffa5</td><td>123456</td><td>avt15.png</td><td>0</td><td>1</td><td>0</td><td>3</td></tr>
                <tr><td>116</td><td>Strategic Planning Staff 1</td><td>01673433886</td><td>1988-03-09</td><td>staffs1@cma.com</td><td>staffs1</td><td>123456</td><td>avt16.png</td><td>0</td><td>1</td><td>0</td><td>5</td></tr>
                <tr><td>117</td><td>Strategic Planning Staff 2</td><td>0988753023</td><td>1979-05-02</td><td>staffs2@cma.com</td><td>staffs2</td><td>123456</td><td>avt17.png</td><td>0</td><td>1</td><td>0</td><td>5</td></tr>
                <tr><td>118</td><td>Strategic Planning Staff 3</td><td>01656077115</td><td>1988-07-25</td><td>staffs3@cma.com</td><td>staffs3</td><td>123456</td><td>avt18.png</td><td>0</td><td>1</td><td>0</td><td>5</td></tr>
                <tr><td>119</td><td>Strategic Planning Staff 4</td><td>0972907579</td><td>1985-10-24</td><td>staffs4@cma.com</td><td>staffs4</td><td>123456</td><td>avt19.png</td><td>0</td><td>1</td><td>0</td><td>5</td></tr>
                <tr><td>120</td><td>Strategic Planning Staff 5</td><td>0904054732</td><td>1987-05-01</td><td>staffs5@cma.com</td><td>staffs5</td><td>123456</td><td>avt20.png</td><td>0</td><td>1</td><td>0</td><td>5</td></tr>
                <tr><td>121</td><td>Production Staff 1</td><td>01658102387</td><td>1976-07-15</td><td>staffp1@cma.com</td><td>staffp1</td><td>123456</td><td>avt21.png</td><td>0</td><td>1</td><td>0</td><td>4</td></tr>
                <tr><td>122</td><td>Production Staff 2</td><td>0983043195</td><td>1980-10-29</td><td>staffp2@cma.com</td><td>staffp2</td><td>123456</td><td>avt22.png</td><td>0</td><td>1</td><td>0</td><td>4</td></tr>
                <tr><td>123</td><td>Production Staff 3</td><td>0976388281</td><td>1981-12-15</td><td>staffp3@cma.com</td><td>staffp3</td><td>123456</td><td>avt23.png</td><td>0</td><td>1</td><td>0</td><td>4</td></tr>
                <tr><td>124</td><td>Production Staff 4</td><td>01656077128</td><td>1985-10-05</td><td>staffp4@cma.com</td><td>staffp4</td><td>123456</td><td>avt24.png</td><td>0</td><td>1</td><td>0</td><td>4</td></tr>
                <tr><td>125</td><td>Production Staff 5</td><td>0976096113</td><td>1987-01-17</td><td>staffp5@cma.com</td><td>staffp5</td><td>123456</td><td>avt25.png</td><td>0</td><td>1</td><td>0</td><td>4</td></tr>
                <tr><td>126</td><td>Nguyen Van A</td><td>0123456789</td><td>1992-02-17</td><td>user1@cma.com</td><td>user1</td><td>123456</td><td>NULL</td><td>0</td><td>1</td><td>0</td><td>0</td></tr>
                <tr><td>127</td><td>Nguyen Van B</td><td>0123456789</td><td>1993-03-18</td><td>user2@cma.com</td><td>user2</td><td>123456</td><td>NULL</td><td>0</td><td>0</td><td>0</td><td>NULL</td></tr>
                <tr><td>128</td><td>Huynh Van C</td><td>0123456789</td><td>1994-04-19</td><td>user3@cma.com</td><td>user3</td><td>123456</td><td>NULL</td><td>0</td><td>0</td><td>0</td><td>NULL</td></tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>    
}