<div class="card">
  <div class="card-header">
    Task detail
  </div>
  <app-spinner *ngIf=isLoading.page></app-spinner>
  <div *ngIf=!isLoading.page class="card-body row">
    <div class="col-12">
      <h2 class="card-title">{{foundTask.name}}</h2>
    </div>
    <div class="col-12">
      <div class="button-row">
        <a routerLink="/task/edit/{{foundTask.id}}" class="btn btn-secondary bg-light">
          <i class="fa fa-edit"></i>&nbsp; Edit
        </a>
        <button class="btn btn-secondary bg-light" (click)="handleOnCommentBtnClick()">
          <i class="fa fa-comment-o"></i>&nbsp; Comment
        </button>
        <button class="btn btn-secondary bg-light"
                (click)="handleOnAssignBtnClick()"
                [ladda]="isLoading.openAssignModal">
          <i class="fa fa-user-plus"></i>&nbsp; Assign
        </button>
        <button class="btn btn-secondary bg-light"
                (click)="handleOnUnAssignBtnClick()"
                [ladda]="isLoading.openUnAssignModal">
          <i class="fa fa-user-times"></i>&nbsp; Un-Assign
        </button>
        <button class="btn btn-secondary bg-light"
                [disabled]="foundTask.statusText == 'Done'"
                (click)="handleOnDoneBtnClick()"
                [ladda]="isLoading.done">
          <i class="fa fa-check"></i>&nbsp; Done
        </button>
      </div>
    </div>
    <div class="col-12 mt-5">
      <div class="row">
        <div class="col-6 left-pane">
          <div class="section">
            <!--DETAIL SECTION-->
            <h5 class="mb-3">Detail</h5>
            <dl class="row ml-1">
              <dt class="col-3">Project:</dt>
              <dd class="col-9"><a
                href="#/project/task?projectID={{foundTask.project.id}}">{{foundTask.project.name}}</a></dd>
              <dt class="col-3">List:</dt>
              <dd class="col-9">{{foundTask.list.name}}</dd>
              <dt class="col-3">Priority:</dt>
              <dd class="col-9">
                <span>{{foundTask.priorityText}}</span>
              </dd>
              <dt class="col-3">Status:</dt>
              <dd class="col-9">
                <span>{{foundTask.statusText}}</span>
              </dd>
              <dt class="col-3">Effort:</dt>
              <dd class="col-9">
                {{foundTask.effort}}
                <span *ngIf="foundTask.effort <= 1">Hour</span>
                <span *ngIf="foundTask.effort > 1">Hours</span>
              </dd>
            </dl>
          </div>
          <div class="section">
            <!--DESCRIPTION-->
            <h5 class="mb-3">Description</h5>
            <dl class="row ml-1">
              <p class="col-12">
                {{foundTask.description}}
              </p>
            </dl>
          </div>
          <div class="section">
            <!--ATTACHMENT-->
            <h5 class="mb-3">Attachments</h5>
            <dl class="row ml-1">
              <div class="col-12">
                <div class="form-group row" [formGroup]="attachmentForm">
                  <div class="col-9">
                    <input #attachmentInput
                           id="file-input" name="file-input" type="file"
                           formGroupName="attachment"
                           (change)="attachmentFileChange($event)">
                  </div>
                  <div class="col-3">
                    <button class="btn btn-success float-right"
                            [disabled]="!attachmentForm.value.attachment"
                            [ladda]="isLoading.attachmentUpload"
                            (click)="handleUploadAttachmentClick()">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let attachment of attachments">
                    <div class="d-flex align-items-center">
                      <a href="{{attachment.source}}">
                        <span>{{attachment.name}}</span>
                      </a>
                      <button class="btn btn-danger btn-sm ml-auto"
                              (click)="handleDeleteAttachmentClick(attachment.ID)"
                              [ladda]="isLoading.attachmentRemove[attachment.ID]">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </dl>
          </div>
          <div class="section">
            <!--COMMENT-->
            <h5 class="mb-3">Comments</h5>
            <dl class="row ml-1">
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-12">
                    <!--COMMENT BTN + LABEL-->
                    <button class="btn btn-secondary bg-light"
                            *ngIf="!openCommentForm"
                            (click)="handleOnCommentBtnClick()">
                      <i class="fa fa-comment-o"></i>&nbsp; Comment
                    </button>
                    <h4 *ngIf="openCommentForm">Comment</h4>
                  </div>
                  <div class="col-12" *ngIf="openCommentForm">
                    <!--COMMENT TEXT AREA-->
                    <textarea title="comment-input" rows="9" class="form-control"
                              [(ngModel)]="commentBoxModel"
                              placeholder="Content.."></textarea>
                  </div>
                  <div class="col-12 mt-3 d-flex justify-content-end" *ngIf="openCommentForm">
                    <!--ADD COMMENT, CANCEL BTN-->
                    <button class="btn btn-success mr-2" (click)="handleAddCommentBtnClick()">Add</button>
                    <button class="btn btn-secondary" (click)="handleCancelCommentBtnClick()">Cancel</button>
                  </div>
                </div>
              </div>
              <app-comment class="col-12"
                           *ngFor="let comment of foundTask.comments"
                           [comment]="comment"
                           (onEdit)="handleEditComment($event)"></app-comment>
            </dl>
          </div>
        </div>
        <div class="col-5 right-pane ml-4">
          <div class="section">
            <!--MEMBER-->
            <!--<h5 class="mb-3">Members</h5>-->
            <dl class="row ml-1">
              <dt class="col-12">Assignees:</dt>
              <dd class="col-12 pl-4">
                <app-user-list *ngIf="foundTask.assignees" [users]="foundTask.assignees"></app-user-list>
                <span *ngIf="!foundTask.assignees || foundTask.assignees.length < 1">N/A</span>
              </dd>
              <dt class="col-12">Creator:</dt>
              <dd class="col-12 pl-4">
                <app-user-list [user]="foundTask.createdBy"></app-user-list>
                <span *ngIf="!foundTask.createdBy">N/A</span>
              </dd>
              <dt class="col-12">Modifier:</dt>
              <dd class="col-12 pl-4">
                <app-user-list *ngIf="foundTask.changedBy" [user]="foundTask.changedBy"></app-user-list>
                <span *ngIf="!foundTask.changedBy">N/A</span>
              </dd>
            </dl>
          </div>
          <div class="section">
            <!--DATE SECTION-->
            <!--<h5 class="mb-3">Date</h5>-->
            <dl class="row ml-1">
              <dt class="col-3">Start date:</dt>
              <dd class="col-9">
                <span *ngIf="foundTask.startDate">
                  {{foundTask.startDate | date:'dd/MM/yyyy'}}
                </span>
              </dd>
              <dt class="col-3">Duration:</dt>
              <dd class="col-9">
                {{foundTask.duration}}
                <span *ngIf="foundTask.duration <= 1">Day</span>
                <span *ngIf="foundTask.duration > 1">Days</span>
              </dd>
              <dt class="col-3">Deadline:</dt>
              <dd class="col-9">
                {{foundTask.deadline | date:'dd/MM/yyyy'}}
              </dd>
              <dt class="col-3">Finished:</dt>
              <dd class="col-9">
              <span *ngIf="!foundTask.finishedDate">
                N/A
              </span>
              </dd>
              <dt class="col-3">Created:</dt>
              <dd class="col-9">{{foundTask.createdDate | date:'dd/MM/yyyy'}}</dd>
              <dt class="col-3">Changed:</dt>
              <dd class="col-9">
                <span *ngIf="foundTask.changedDate">
                  {{foundTask.changedDate | date:'dd/MM/yyyy'}}
                </span>
                <span *ngIf="!foundTask.changedDate">
                  N/A
                </span>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
