<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body" [formGroup]="loginForm">
              <div class="row justify-content-center">
                <h1>Sign up</h1>
              </div>
              <div class="row justify-content-center">
                <p class="text-muted">Sign In to your account</p>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input formControlName="username" type="text" class="form-control" placeholder="Username"
                       [readonly]="isLoading"
                       (keypress)="handleEnterPressed($event)">
              </div>

              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input [readonly]="isLoading" formControlName="password" type="password" class="form-control"
                       placeholder="Password"
                       (keypress)="handleEnterPressed($event)">
              </div>
              <div class="input-group alert alert-warning" role="alert"
                   *ngIf="errorMessage">
                {{errorMessage}}
              </div>
              <div class="row justify-content-center">
                <button
                  type="submit" class="btn btn-primary"
                  [disabled]="!loginForm.valid"
                  (click)="handleLogin()"
                  [ladda]="isLoading">
                  Login
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
