<div style="align-content: center">
  <div class="card align-items-center">
    <h1>Create new account</h1>
    <div class="card-body">
      <div [formGroup]="signupForm" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="username-input">Username:</label>
          <div class="col-md-8">
            <input type="text" id="username-input" name="username-input" class="form-control"
                   formControlName="username">
            <!--<span class="help-block">Please enter username</span>-->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="password-input">Password</label>
          <div class="col-md-8">
            <input type="password" id="password-input" name="password-input" class="form-control"
                   formControlName="password">
            <span class="help-block">Please enter a complex password</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="name-input">Fullname:</label>
          <div class="col-md-8">
            <input type="text" id="name-input" name="name-input" class="form-control"
                   formControlName="fullname">
            <span class="help-block">Please enter name</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="email-input">Email:</label>
          <div class="col-md-8">
            <input type="email" id="email-input" name="email-input" class="form-control"
                   formControlName="email">
            <span class="help-block">Please enter your email</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="phone-input">Phone:</label>
          <div class="col-md-8">
            <input type="text" id="phone-input" name="phone-input" class="form-control"
                   formControlName="phone">
            <span class="help-block">Please enter phone number</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="email-input">Date of Birth:</label>
            <my-date-picker class="col-md-8" name="mydate" [options]="myDatePickerOptions"
                            required></my-date-picker>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="file-input">Avatar</label>
          <div class="col-md-8  ">
            <input type="file" id="file-input" name="file-input"
                   #avatarFile>
          </div>
        </div>
        <div class="form-actions" style="margin-left: 100px">
          <button class="btn btn-primary" (click)="handleCreate()">Save changes
          </button>
          <button class="btn btn-secondary" type="button" (click)="resetForm()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
