<div class="card">
    <div class="card-header">
        <strong>Tasks</strong>
    </div>
    <div class="card-body" *ngIf="foundProject">
        <div class="row">
            <div class="col-sm-6 col-md-4" *ngFor="let lists of foundProject.lists;let i = index">
                <ng-container>
                    <div class="card">
                        <div class="card-header">
                            {{lists.Name}}
                        </div>
                        <div class="card-body" *ngIf="lists.tasks">
                            <div class="card task-card" *ngFor="let task of lists.tasks" data-toggle="modal" style="cursor: pointer"
                                data-toggle="modal" id="task">
                                <a href="#/project/task-detail?projectID={{foundProject.id}}&listID={{lists.ID}}&taskID={{task.ID}}" style="text-decoration: none; color: black">
                                    <div class="card-body">
                                        {{task.Name}}
                                    </div>
                                </a>
                                <div class="card-footer">
                                    <span class="badge badge-success float-right">Executing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>