<div class="card">
  <div class="card-header">
    <strong>User Detail</strong>
  </div>
  <div class="card-body">
    <div id="AvaAndDe" class="row">

      <div id="left" class="col-4">
        <img id="img" *ngIf="foundUser" src="{{foundUser.avatar}}" height="100%" width="100%">
      </div>
      <div id="right" class="col-6">
        <div>
          <b id="name" *ngIf="foundUser" style="text-transform: uppercase">{{foundUser.name}}</b>
        </div>
        <div id="username" *ngIf="foundUser">
          <span>User name: </span> {{foundUser.username}}
        </div>
        <div id="team" *ngIf="foundUser">
          <span>Team: </span> {{foundUser.team.name}}</div>
        <div id="role" *ngIf="foundUser">
          <strong>
            <p *ngIf="foundUser.isAdmin">Admin</p>
          </strong>
          <strong>
            <p *ngIf="!foundUser.isAdmin && foundUser.isManager">Manager</p>
          </strong>
          <p *ngIf="!foundUser.isAdmin && !foundUser.isManager">Staff</p>
        </div>
        <div id="phone" *ngIf="foundUser">
          <span>Phone number:</span> {{foundUser.phone}}</div>
        <div id="email" *ngIf="foundUser">
          <span>Email: </span> {{foundUser.email}}
        </div>
        <div>
          <p id="birthdate" *ngIf="foundUser">
            <span>Date of birth: </span> {{foundUser.birthdate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
