#left {
    color: rgba(245, 7, 66, 0.89);
    width: 15%;
    padding-left: 4px;
    margin-right: 5px;
}
#AvaAndDe {
    padding-left: 13px;

}
#center {
    padding: 1em;
    width: 40%;
    border-right: 3px solid #4f44eb;
    border-top: 3px solid #4f44eb;
    border-bottom: 3px solid #4f44eb;
    border-left: 3px solid #4f44eb;
}

#avatar {
    width: 150px;
    height: 200px;
    margin-right: 5px;
    border-right: 1px solid #4f44eb;
    border-top: 1px solid #4f44eb;
    border-bottom: 1px solid #4f44eb;
    border-left: 1px solid #4f44eb;
}

#summary {
    color: rgba(18, 38, 221, 0.89);
    border-bottom: 2px solid;
}

#TechnicalSkills {
    color: rgba(18, 38, 221, 0.89);
    border-bottom: 2px solid;
}