<div class="card">
  <div class="card-header">
    Card title
  </div>
  <div class="card-body">
    <div id="AvaAndDe" class="row">
      <div id="left">
        <img id="avatar" class="img-circle" src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
      </div>
      <div id="center">
        <div>Full name: </div>
        <div>User name:</div>
        <div>Date of Birth:</div>
        <div>Gender: </div>
        <div>Address:</div>
        <div>Phone number:</div>
        <div>Email:</div>
        <div>Specialized:</div>
      </div>
    </div>
    <div id="summary">
      <h2>summary</h2>
    </div>
    <div>
      I am a Japanese software(JS) student. I am an extrovert person so I can make friend with a lot of people. I love Japan, love
      Japanese and read manga(comic). I like badminton so I I watch it and play it in my free time. I have studied about
      C, C++, java, C#, testing and database at school.
    </div>
    <div id="TechnicalSkills">
      <h2>Technical skills</h2>
    </div>
    <div>
      In java,I knew about core java.
      In database,I knew about Microsoft sql server.
      In front-end,I knew about Javascript,Jquery,CSS3,HTML5,Ajax,Angular 2,Angular 4.
      In source code managerment,I knew about github.


    </div>

  </div>
</div>

