#left {
    font-size: 30px;
    width: 38%;
    padding-left: 4px;
    margin-right: 5px;
}
#right {
    font-size: 25px;
    width: 45%;
    padding-left: 4px;
    margin-right: 5px;
}
#AvaAndDe {
    padding-left: 13px;
}

#center {
    padding: 0em;
    width: 40%;
    font-size: 30px;
}

#avatar {
    width: 150px;
    height: 200px;
    margin-right: 5px;
}

#summary {
    color: rgba(18, 38, 221, 0.89);
    border-bottom: 2px solid;
}

#TechnicalSkills {
    color: rgba(18, 38, 221, 0.89);
    border-bottom: 2px solid;
}

#role {
    color: grey;
    font-size: 25px;
}

#phone {
    font-size: 25px;
    //text-indent: 30px;
}

#email {
    color: blue;
    font-size: 25px;
}

#name {
    font-size: 45px;
}
#username{
    font-size: 25px;
}
#img {
    width: 350px;
    height: 350px;
}
#birthdate {
    font-size: 25px;
    //text-indent: 30px;
}