#left {
    font-size: 30px;
    width: 40%;
    padding-left: 4px;
    margin-right: 5px;
}
#AvaAndDe {
    padding-left: 13px;

}
#center {
    padding: 1em;
    width: 40%;
    font-size: 30px;
}

#avatar {
    width: 150px;
    height: 200px;
    margin-right: 5px;
}

#summary {
    color: rgba(18, 38, 221, 0.89);
    border-bottom: 2px solid;
}

#TechnicalSkills {
    color: rgba(18, 38, 221, 0.89);
    border-bottom: 2px solid;
}
#role{
    color: grey;
    font-size: 23px;
}
#phone{
    font-size: 25px;
}
#email{
    color:blue;
    font-size:  25px;
}
#name{
    font-size: 45px;
}