<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>View all Teams </strong>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

          <table class="table table-bordered">
            <thead id="thead">
              <tr>
                <th style="width: 100px">No.</th>

                <th style="width: 300px;">Name</th>
                <th style="width: 400px">Team Leader</th>
                <th>Created Date</th>
                <!-- <th>Created by</th>
              <th>Created date</th>
              <th>Is close</th>-->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let team of teams;let i = index">
                <th scope="row">{{i+1}}</th>
                <td>
                  <a href="#/team/detail?teamid={{team.id}}" style="color: blue">{{team.name}}</a>
                  <!-- {{team.name}} -->
                </td>
                <td>
                  <p>{{team.manager.username}} </p>
                </td>
                <td>
                  <p>{{team.createdDate}}</p>
                </td>
              </tr>
            </tbody>
          </table>

        </form>
      </div>
    </div>
  </div>
</div>