<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>All departments</strong>

      </div>
      <app-spinner *ngIf="isPageLoading"></app-spinner>
      <div *ngIf="!isPageLoading" class="card-body">
        <table datatable [dtOptions]="datatableOptions" class="table table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Department Leader</th>
            <th>Created date</th>
            <th>Update</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of teams;let i = index">
              <td>
                <a href="#/team/detail?id={{team.id}}">{{team.name}}</a>
              </td>
              <td>
                <p>{{team.manager.username}}</p>
              </td>
              <td>
                <p>{{team.createdDate}}</p>
              </td>
              <td class="text-center">
                <a href="#/team/update?id={{team.id}}">
                  <button type="button" class="btn btn-primary">Update</button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
